body {
    background: url(./double-bubble-outline.png) repeat 0 0;
    scroll-behavior: unset;
}
.myContainer{
    margin-top: 7%;
    margin-top: 7%;
    margin-left: 12vw;
    margin-right: 12vw;
    background-color: salmon;
    padding: 2rem;
}
h1, h2, h3, h4 {
    font-family: 'Raleway',Helvetica, Arial, sans-serif;
    color: whitesmoke;
}
p {
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: floralwhite;
    font-size: 1.5rem;
}

h1 {
    font-size: 5rem;
}

.headerContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 2rem;
    line-height: 1rem;
}
a {
    color: ivory;
}
